/* Início */
.img-logo{
  height: 300px;
  width: 450px;
  margin: 0px;
}
.primeira-pagina{
  margin: 65px;
  padding: 70px;
  /* width: 800px;
  height: 300px; */
  border-radius: 15px;
  border: 1px solid black;
  background-color: #7B68EE;  
  
}


footer{
  
  margin-top: 100px;
}
body{
  margin: 50px;
  font-family: 'Montserrat', sans-serif;
  
}

button{
  align-items: flex-end;

}
.list-inicio { display: inline; text-decoration: none;}
.list-inicio {  
  
  list-style: none;
  /* display: flex; */
  padding: 5px 30px;
  display: inline-block;
  background-color:lime;
  text-decoration: none;
  border-bottom:3px solid #1f0038;
  border-radius: 10px;
  /* align-items: center; */
  margin:10px;
  margin-right: 50px;
  
}
.list-inicio a:hover {
  background-color:#6d536b;
  border-bottom:3px solid #774670;
}
.list-inicio-ul, .list-inicio {
	list-style: none;
}

/* Titulo de cada pagina */
.marca{
  background-color:  #7B68EE;
  text-align: center;
  margin:0px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 20px;
  
}


/* Subtitulo */
h3 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  border-radius: 20px;
}
.sub-title{
  background-color: lime;
  margin-top: 0px;
  font-family: 'Montserrat', sans-serif;
}

/* caixa de busca */
.search-box {
  padding: 5px;
  border-radius: 10px;
  width: 700px;
  border:rgb(224, 201, 201) solid 1px;
  font-family: 'Montserrat', sans-serif;

}

/* botao de retorno  */
.component-inicio{
  width: 70px;
  height: 70px;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  background-color: lime;
  border-radius: 45px;
  position: relative;  
  padding: 10px;
}

#mostrar{
  display: none;
  font-size: 8px;
  position: inherit;
  margin: 5px;
  
}
#passar-mouse:hover #mostrar{
  display:block;
  }

/* cards noticias e jogos  */
.container {
  float: left;
  background-color: rgb(255, 220, 255);
  width: 400px;
  height: 400px;
  margin: 10px;
  margin-left: 50px;
  border-radius: 15px;
  border: 1px solid black;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  /* Gap: 20px; */
  
}


.btn-details {
  margin: 20px;
  padding: 5px;
  background-color: rgb(180, 214, 180);
  border-radius: 7px;
  border: 1px solid black;
  Align-self: flex-end;
  font-family: 'Montserrat', sans-serif;
  
}

/* cards games */

.img-card {
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
  border-color: black;
  border: 1px solid black;
  margin: 10px;
  text-align: justify;

}
.description, .publisher-platform-cards {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  color: black;  
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
}

/* .description{
  text-align: justify;
  text-align: center;
} */
.title-cards{
  margin: 20px;
}

.date-cards{
  margin-left: 20px;
  font-size: 11px;
  text-align: justify;
}


/* pagina de detalhes: */
.img-details{
  width: 600px;
  height: 350px;
  border-radius: 20px;  
}

.img-item{
  width: 140px;
  height: 80px;
  margin: 8px;
  border-radius: 20px;
}
.title-details{
  font-size: 30px;
  background-color: lightblue;
  border-radius: 10px;
  width: 600px;
}
.description-details{
  width: 600px;
  text-align: justify;
}

.form-comments{
  text-align: center;
  background-color: rgb(146, 130, 238);
  width: 500px;
  padding: 100px;
  border-radius: 20px;

}
.details-page{
  width: 635px;
  background-color: rgb(146, 130, 238);
  padding: 30px;
  border-radius: 20px;
}
.name-form, .email-form, .comments-form{
  border-radius: 10px;
  padding: 15px;
  margin: 5px;
}
.btn-form{
  padding: 10px;
  margin: 15px;
}
.comments-new{
  color: rgb(146, 130, 238);
}


.all-comments{
  margin: 20px;
  background-color: lawngreen;
  border-radius: 10px;
}
.list-comments{
  margin: 10px;
}